@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: .6rem;
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.3rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    padding-bottom: 187px;
    position: relative;
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 763px;
        height: 763px;
        position: relative;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
    }
    &__line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
    }
    &__image {
        width: 92%;
        filter: drop-shadow(10px 20px 15px rgba(39, 48, 0, 0.5));
    }
    &__btn {
        padding: 0;
        position: absolute;
        border: none;
        text-align: left;
        background-color: transparent;
        color: $green;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &::before {
            position: absolute;
            width: 11px;
            height: 11px;
            content: '';
            background-color: $green;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
        }
        &_1 {
            top: 87px;
            left: 25px;
            &::before {
                bottom: 0;
                left: 75px;
            }
        }
        &_2 {
            top: 194px;
            right: 4px;
            &::before {
                top: 14px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -45px;
            right: 240px;
            &::before {
                bottom: 55px;
                left: 17px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato {
        width: 11rem;
        position: absolute;
        bottom: 100px;
        right: 5px;
    }
    &__avocado {
        width: 14rem;
        position: absolute;
        top: 50px;
        right: -35px;
    }
    &__beans {
        width: 14rem;
        position: absolute;
        bottom: 150px;
        left: 0;
    }
    &__pepper {
        width: 8.6rem;
        position: absolute;
        top: 390px;
        left: 10px;
    }
    &__cucumber {
        width: 7rem;
        position: absolute;
        top: 0;
        left: 525px;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    &_size-s {
        font-size: 1.8rem;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;

}